

.btn-danger {
  background-color: grey;
  border-color: black;
}

.container {
  box-sizing: border-box;
}

h1 {
  margin-left: 35%;
}

.card {
  margin-top: 15px !important;
  box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.137) !important;
  display: grid;
  justify-content: center;
  overflow: hidden;
  background:rgb(250, 249, 249);
  border-top: 15px;
  border-radius: 15px !important;
  box-sizing: border-box;

}

.logo {
  margin-left: 0 !important;
  flex-wrap: wrap;
}
// .card-img-top {
//   border-bottom-right-radius: 15px !important;
//   border-bottom-left-radius: 15px !important;
// }

.card-body {

}

.title {
  text-align: center;
  margin-top: 3px;
}
