<div class="footer">
  <div class="footer-links">
    <p> © 2022 ATF Walnuts </p>
  </div>

  <div class="footer-copyright">
    This Website is made by <strong> Abbas Nazarov</strong>
  </div>
</div>
