<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
        <h1><strong>ATF Walnuts</strong></h1>
    </a>
    <%= link_to "Home", root_path, class: "btn btn-outline-success" %>
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1591485894253-688891cec15a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1666&q=80);">
  <div class="container">
    <h1><strong>Contact</strong> <strong>us</strong>!</h1>
    <p>Walnut Farm Azerbaijan</p>
  </div>
</div>

<div class="contacts-container">
  <div class="text">
      <h2><strong>Reach Us</strong></h2>
      <h3>Send us an e-mail to learn more about our <br>
          prices for walnuts and how you can purchase <br>
          We respond to our e-mails and inquiries as <br>
          soon as possible.
      </h3>
  </div>

  <div class="contacts row col-sm-3">
    <address>
    Abbas Nazarov <br>
    Farm Co-Founder <br>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg> +994(51) 3869696 <br>
      <i class="fa-solid fa-envelope"></i> abbas.nazarov@gmail.com

    </address>
    </div>
    <div class="contacts row col-sm-3">
    <address>
    Tural Mardanov <br>
    Farm Managing Director & <br>
    Co-Founder <br>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>+994(50) 3450111 <br>
    </address>
  </div>
</div>
