<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://e7.pngegg.com/pngimages/501/463/png-clipart-walnut-walnut.png" alt="" width="50" height="40">
    </a>
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590409110085-e4d7e3128a92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHdhbG51dHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Our Walnuts <strong>are</strong> the <strong>source of life</strong>!</h1>
    <p>Walnut Farm Azerbaijan</p>
    <a class="btn btn-danger" href="#">Contact</a>
  </div>
</div>

<div class="container" >
  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1589752881676-589e85baec16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="app/assets/images/walnuts/w.png" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="app/assets/images/9717ab3b-bedf-4b81-9b27-7e56fb9faada.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="../../assets/images/79277842-330a-4856-a887-4ff954797d64.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="../../assets/images/79277842-330a-4856-a887-4ff954797d64.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="../../assets/images/79277842-330a-4856-a887-4ff954797d64.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="../../assets/images/79277842-330a-4856-a887-4ff954797d64.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="../app/images/B.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title">Walnuts</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    This Website is made by<strong>Abbas Nazarov</strong>
  </div>
</div>
