<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
        <h1><strong>ATF Walnuts</strong></h1>
      <%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tree" viewBox="0 0 16 16">
        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507z"/>
      </svg> %>
    </a>
    <%= link_to "Contact List", contacts_path, class: "btn btn-outline-success" %>
  </div>
</nav>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590409110085-e4d7e3128a92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHdhbG51dHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h2>Our Walnuts <strong>are</strong> the <strong>source of life</strong>!</h2>
    <p>Walnut Farm Azerbaijan</p>
  </div>
</div>

  <div class="title">
    <h2> Pictures from the farm </h2>
  </div>
<div class="container text-center">
  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190516/Walnuts/xotjsd0jlnleuaogpanw.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190048/Walnuts/hctnot1myyckimucbtpu.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190825/Walnuts/sfdub3fmcedihu0lguij.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190836/Walnuts/xojmonzo8iy8i1anxqho.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190800/Walnuts/ulexvtrv2qekirvblbag.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190723/Walnuts/ly4gvmcz4hbtgkll8lcw.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190713/Walnuts/ztezd0ddiiockxyolozl.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190809/Walnuts/vwtj0rg6k0hijt9jd54j.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-inline-flex p-2 bd-highlight">
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dsdxm3ipj/image/upload/v1669190800/Walnuts/ulexvtrv2qekirvblbag.jpg" alt="card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>
</div>
